.margin-t{margin-top: 45px;}
.LZW .di-zhi p{margin-top:10px;text-indent: 5px;}
.LZW h2{margin: 40px 0 20px 0;font-size: 18px;color: #fc4f0b;}
.LZW .list dl{border: 1px solid #efefef;width: 490px;padding: 20px;margin-bottom: 24px;}
.LZW .list dt{font-size: 18px;margin-bottom: 10px;}
.LZW .list dd{line-height: 24px;}
.LZW .list{margin-bottom: 37px;}
.xiaoban_title{height: 65px;line-height: 65px;text-align: center;position: relative;border-bottom: 1px solid  #e5e5e5;}
.xiaoban_title span{font-size: 24px;color: #fc4f0b;border-bottom: 2px solid  #fc4f0b;display: inline-block;height: 64px}
.LZW .banner{background-color: #fff8f5;border: 1px solid #ffdfd3;margin: 33px 0;}
.LZW .banner div{width: 801px;line-height: 26px;margin: 45px 0 0 30px;}
.LZW .banner dl{color: #fc4f0b;text-align: center;width: 222px;margin-top: 45px;}
.LZW .banner dt{font-size: 43px;font-weight: bold;}
.LZW .jin-bu dl{width: 352px;background-color: #fff;border: 1px solid #efefef;height: 495px;margin-bottom: 18px;}
.LZW .jin-bu dt{text-align: center;font-weight: bold;font-size: 18px;line-height: 32px;}
.LZW .jin-bu dt img{margin: 25px 0 5px 0;}
.LZW .jin-bu dd{width: 290px;margin: 0 auto;text-align:justify;line-height: 24px;}
.LZW .jin-bu{margin-top: 40px;}
.LZW .jin-bu .zhong{margin: 0 19px;}
.LZW .li-tongxue dl{margin-top: 40px;}
.LZW .li-tongxue{height: 233px;background-color: #fff;border: 1px solid #efefef;}
.LZW .li-tongxue img{margin: 0 30px 0 45px;}
.LZW .li-tongxue dt{font-size: 18px;font-weight: bold;margin-bottom: 5px;}
.LZW .li-tongxue dd{line-height: 22px;width: 755px;}
.lzw-b{padding-bottom: 47px;}
.LZW .an-li{border-bottom: 1px dashed #e7e7e7;line-height: 22px;}
.LZW .an-li span,.LZW .an-li-b span{color: #fc4f0b;font-weight: bold;}
.LZW .an-li p{width: 515px;padding: 40px 0;text-align:justify;}
.LZW .an-li-b p{padding: 40px 0;text-align:justify;line-height: 22px;}
.LZW .border-0{border: 0;}
.pad-b-70{padding-bottom: 70px;}