
body{background: #f6f6f6;}
.xiaoban{background:#f6f6f6;padding-top: 15px}
.xiaoban_first{background: #fff;}
.xiaoban_title{height: 65px;line-height: 65px;text-align: center;position: relative;border-bottom: 1px solid  #e5e5e5;}
.xiaoban_title span{font-size: 24px;color: #fc4f0b;border-bottom: 2px solid  #fc4f0b;display: inline-block;height: 64px}
.xiaoban .first_body{height: 468px;overflow: hidden;}
.xiaoban .first_left{width: 681px}
.xiaoban .first_right{width:419px;height: 100%}
.xiaoban .left_box{width: 592px;margin-left: 29px}
.xiaoban .left_box h2{font-size: 18px;color: #383838;margin-bottom: 12px;margin-top: 93px;}
.xiaoban .left_box p{font-size: 14px;color: #666;line-height: 24px}
.xiaoban .right_box{background: url(../images/subject.jpg) no-repeat;background-size: 100% 100%;height: 360px;margin-top: 30px;position: relative;}
.xiaoban .right_box span{display: inline-block;position: absolute;width: 87px;text-align: center;}
.xiaoban .right_box span i{font-style: normal;display: block;color: #fff;}
.xiaoban .right_box .span_math{top:67px;left:58px;}
.xiaoban .right_box .span_eng{top:45px;left: 170px}
.xiaoban .right_box .span_bio{top:84px;right:57px;}
.xiaoban .right_box .span_che{top:167px;right:38px;}
.xiaoban .right_box .span_Biolog{top:245px;right: 76px}
.xiaoban .right_box .span_height{top:285px;right: 185px}
.xiaoban .right_box .span_pic{top:247px;left:48px;}
.xiaoban .right_box .span_pic i{color: #666}
.xiaoban .right_box .span_chinese{top:159px;left: 27px}
.xiaoban .right_box .span_king{top:164px;left: 158px}
.xiaoban_tow{padding-bottom: 42px}
.xiaoban_tow .xiaoban_title{height: 80px;line-height: 80px}
.xiaoban_tow .xiaoban_title span{height: 79px}
.xiaoban_tow .tow_body{height: 735px}
.xiaoban_tow .tow_body h3{font-size: 14px;font-weight: normal;margin-top: 44px;margin-bottom: 21px;color: #383838}
.xiaoban .contrast{background: #fff}
.xiaoban .contrast dl{float: left;display: block;}
.xiaoban .contrast dt{background: #ff9d33;height: 40px;line-height: 40px;text-align: center;color: #fff;margin-bottom: 4px;}
.xiaoban .contrast .dd_a{height: 136px;text-align: center;background: #f7f7f7;}
.xiaoban .contrast .dd_b{height: 166px;background: #ebebeb;color: #fb5109;text-align: center;}
.xiaoban .contrast .type{width: 107px;margin-right: 4px;}
.xiaoban .contrast .form{width: 147px;margin-right: 4px;}
.xiaoban .contrast .people,.xiaoban .contrast .teacher{width: 106px;margin-right: 4px;}
.xiaoban .contrast .content,.xiaoban .contrast .student,.xiaoban .contrast .primay{width: 146px;margin-right: 4px;}
.xiaoban .contrast .moshi{width: 168px;}
.xiaoban .contrast span{display: table-cell;vertical-align: middle;height: 136px}
.xiaoban .contrast .type span{width: 107px}
.xiaoban .contrast .dd_b span{height: 166px}
.xiaoban .contrast .form span{width: 121px;padding: 0 15px;text-align: left;}
.xiaoban .contrast .people span,.xiaoban .contrast .teacher span{width: 106px;}
.xiaoban .contrast .content span,.xiaoban .contrast .student span,.xiaoban .contrast .primay span{width: 146px;text-align: left;padding:0 15px;}
.xiaoban .contrast .moshi span{width: 168px;text-align: left;padding:0 15px;}
.xiaoban .contrast p{text-align: left;padding: 0 15px;padding-top: 27px}
.xiaoban .color{color: #fb5109 !important;}
.xiaoban .resone{border: 1px solid #e7e7e7;height: 120px;background: #fff;}
.xiaoban .resone_left{width: 137px;height: 108px;padding-top: 14px;padding-left: 22px;}
.xiaoban .resone_left .resone_img,.xiaoban .resone_left .resone_img2{background: url(../images/small_power.jpg) no-repeat;height: 93px;width: 93px;}
.xiaoban .resone_left .resone_img2{background: url(../images/small_num.jpg) no-repeat;}
.xiaoban .resone_right{margin-top: 25px;width: 928px}
.xiaoban .resone_right h4{font-size: 16px}
.xiaoban .resone_right p{line-height: 24px;}
.xiaoban .mgt{margin-top: 13px}
.xiaoban_three{background: #fff;padding-bottom: 50px}
/*three*/
.xiaoban .three_zhi{margin-bottom: 25px}
.xiaoban .three_title{color: #383838;margin: 49px 0 30px;}
.xiaoban .three_quesition{color: #fc4f0b;font-size: 14px;font-weight: 400;line-height: 24px;margin-bottom: 5px;}
.xiaoban .three_answer{width: 1039px;line-height: 24px}
.xiaoban .three_biaoge{}
.xiaoban .three_biaoge li{float: left;margin-right: 6px}
.xiaoban .three_biaoge li p{width: 152px;height: 40px;line-height: 40px;text-align: center;}
.xiaoban .three_biaoge .three_last p{width: 468px}
.xiaoban .three_biaoge .three_top{background:#f1f1f1;margin-bottom: 5px }
.xiaoban .three_biaoge .three_bottom{background: #f8f8f8;margin-bottom: 24px}
.xiaoban .three_biaoge .three_th .three_top{background: #ff9d33;color: #FFF}

/*xuanke start*/
.xk_title{height: 65px;line-height: 65px;border-bottom: 1px solid #e5e5e5;}
.xk_title span{width: 75px;height: 37px;line-height: 37px;display: inline-block;text-align: center;border:1px solid #e5e5e5;border-radius: 5px }
.xk_title span.active{background: #ff9d33;color: #fff;border:1px solid #ff9d33;}
.xk_box{margin: 41px 0;}
.xk_left{width: 75px;color: #ff9d33;margin-bottom: 30px}
.xk_right{width: 1025px;margin-bottom: 30px}
.xk_first,.xk_tow,.xk_three{width: 154px;margin-right: 5px;}
.xk_first p{height: 40px;line-height: 40px;text-align: center;margin-bottom: 3px}
.xk_pocity{background: #ff9d33;color: #fff}
.xk_chinese{background: #f1f1f1;}
.xk_math,.xk_english{background: #f8f8f8;}
.xk_tow{width: 197px;}
.xk_three{margin-right: 0px;width: 421px;}
.xk_btn{margin-top: 37px;text-align: center;}
.xk_btn button{outline: none;border: none;width: 236px;height: 47px;background: #fc4f0b;color: #fff;font-size: 18px;border-radius: 5px}

/*shizi start*/
.sz_title,.sz_title2{text-align: center;font-size: 14px;line-height: 24px;}
.sz_title2{font-size: 18px;font-weight: bold;margin-top: 20px}
.sz .mgt{margin-top: 23px}
.sz_picture{padding: 77px 69px 10px;}
.sz_picture li{float: left;margin-right: 37px}
.sz .no_margin{margin-right: 0px}
.sz_picture span{display: block;width: 209px;text-align: center;}
.sz_picture .sz_picturetitle{margin: 10px 0 47px;}
.sz_center{background: #f6f6f6;}
.sz_biaoge{margin: 40px 0;}
.sz_biaoge li{float: left;width: 146px;border-right:5px solid #fff;}
.szbg_title,.szbg_ofter,.szbg_king{text-align: center;}
.szbg_title{background: #ff9d33;border-bottom: 3px solid #fff;height: 40px;line-height: 40px;color: #fff}
.szbg_ofter{background: #f5f5f5;border-bottom: 3px solid #fff;height: 140px;}
.szbg_king{background: #ececec;height: 323px;color:#ff9d33; }
.szbg_ofter2{font-size: 18px;line-height: 140px}
.szbg_king2{font-size: 24px;font-weight: bold;line-height: 323px;}
.sz_biaoge span{display: inline-block;text-align: left;margin-top: 30px;line-height: 24px;padding: 0 10px;}
.sz_biaoge .szbg_span{margin-top: 92px;padding: 0 11px;}
.sz .sz_firstli{width: 116px;}
.sz .sz_lastli{width: 224px;border:none;}
.sz .sz_lastli span{margin-top: 17px}
.sz_zongjie {line-height: 24px;padding-bottom: 37px;}
.sz_bottom li{float: left;width: 332px;border:1px solid #e5e5e5;margin-right: 34px;padding: 0 5px 10px;}
.sz_bottom li.last{margin-right: 0px}
.sz_bottom h1{height: 54px;line-height: 54px;border-bottom:1px solid #e5e5e5;font-size: 18px;font-weight: normal;text-align: center;}
.sz_imglist{padding: 50px 0;}
.sz_bottom span{display: block;padding: 0 10px;margin-top: 10px;}





